build
.vscode
.directory

src/parser/test
src/parser/learn
src/parser/run.sh
src/cminusfc/test
src/cminusfc/run.sh
src/cminusfc/eval.sh

tests/parser
tests/2-ir-gen-warmup/learn
tests/2-ir-gen-warmup/ta_gcd
tests/2-ir-gen-warmup/c_cases
tests/2-ir-gen-warmup/calculator
tests/2-ir-gen-warmup/*.sh
tests/3-ir-gen/libcminus_io.a
